.emoji-option {
  font-size: 18px;
  background-color: white;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.2s ease;
  text-align: center;
}

.emoji-option:hover {
  border-color: #555595;
  background-color: #e0e0ff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}