.container {
  background-color: #f8fafc;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 10;
}

.header {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.header-highlight {
  color: #0066ff;
  font-weight: bold;
}

.app-description {
  color: #666;
  margin-bottom: 30px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-0 {
  z-index: 0;
}

.emoji-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 25px;
  border: 2px solid #595959;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.emoji {
  transition: transform 0.4s ease;
}

.emoji-picker, .color-picker {
  position: absolute;
  top: 150px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 200px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.emoji-picker {
  left: 20px;
}

.color-picker {
  right: 20px;
}

.slider-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.slider {
  width: 200px;
}

.angle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rotate-image {
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotate-image:hover {
  transform: scale(1.1);
}